.square{
    display: flex;
justify-content: space-around;
color: black;
font-size: 22px;
font-weight: bold;
}

.odd{
  border: 1px solid black;  
  background-color:red ;
  padding: 20px;
}

.even{
    border: 1px solid black;  
  background-color:blue ;
  padding: 20px;

}



#lucky7{
    color: white;
}